@tailwind base;
@tailwind components;
@tailwind utilities;

.telegram {
  box-shadow: 2.5px 8px 14px -4px rgb(54 146 253 / 68%);
}
.twitter {
  box-shadow: 2.5px 8px 14px -4px rgb(47 178 254 / 68%);
}
.instagram {
  box-shadow: 2.5px 8px 14px -4px rgba(202, 109, 120, 0.65);
}
.github {
  box-shadow: 2.5px 8px 14px -4px rgba(80, 80, 80, 0.65);
}
.linkedin {
  box-shadow: 2.5px 8px 14px -4px rgb(43 120 255 / 88%);
}
.skype {
  box-shadow: 2.5px 8px 14px -4px rgba(54, 115, 253, 0.65);
}
.spotify {
  box-shadow: 2.5px 8px 14px -4px rgba(97, 155, 57, 0.65);
}
.discord {
  box-shadow: 2.5px 8px 14px -4px rgba(88, 101, 242, 0.65);
}

.card__image {
  transition: 0.2s ease-out;
}
.card:hover .card__image {
  transform: translateY(-8px);
}
.card__icon--arrow {
  transition: 0.2s ease-out;
}
.card:hover .card__icon--arrow {
  transform: translateX(8px);
}
